/* label color */
  .input-field label {
    color: #d32f2f;
  }
  /* label focus color */
  .input-field input[type=text]:focus + label {
    color: #d32f2f;
  }
  /* label underline focus color */
  .input-field input[type=text]:focus {
    border-bottom: 1px solid #d32f2f;
    box-shadow: 0 1px 0 0 #d32f2f;
  }
  /* valid color */
  .input-field input[type=text].valid {
    border-bottom: 1px solid #d32f2f;
    box-shadow: 0 1px 0 0 #d32f2f;
  }
  /* invalid color */
  .input-field input[type=text].invalid {
    border-bottom: 1px solid #d32f2f;
    box-shadow: 0 1px 0 0 #d32f2f;
  }
  /* icon prefix focus color */
  .input-field .prefix.active {
    color: #d32f2f;
  }

  .starting_wrapper i{
    color: #607d8b
  }
  .selection_wrapper a{
    margin-bottom: 10px;
  }

  ul.taskList{
    border-color: white;
    border-bottom:1px solid #e0e0e0;
  }
